@font-face {
    src: url("../fonts/TTLakes/TTLakes-Regular.woff2") format("woff2"),
         url("../fonts/TTLakes/TTLakes-Regular.woff") format("woff");
    font-family: "TT Lakes";
    font-weight: 400;
    font-style: normal;
}
@font-face {
    src: url("../fonts/TTLakes/TTLakes-Bold.woff2") format("woff2"),
         url("../fonts/TTLakes/TTLakes-Bold.woff") format("woff");
    font-family: "TT Lakes";
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "TT Lakes";
    src: url("../fonts/TTLakes/TTLakes-Medium.woff2") format("woff2"),
         url("../fonts/TTLakes/TTLakes-Medium.woff") format("woff");     
    font-weight: 500;
    font-style: normal;
}
* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: "TT Lakes"; 
    font-size: 16px;   
    margin: 0; 
    font-weight: 400; 
    color: black; 
}

bold {
    font-weight: 700; 
}

/* Base styles for 320px */
.header {
    background: #FFFFFF;
}
.header__container {
    position: absolute;
    width: 320px;
    height: 88px;
    left: 0px;
    top: 0px;
}
.header__logo {
    position: absolute;
    left: 72.73px;
    top: 18.59px;
}
.header__burger {
    position: absolute;
    top: 24px;
    left: 16px;
}
.header__palka {
    position: absolute;
    top: 28px;
    left: 186px;
}
.header__palka--clone svg {
    display: none; 
}
.header__nav {
    max-width: 132px; 
    overflow-x: auto; 
    white-space: nowrap; 
    margin-left: auto;
}
.header__nav-list {
    list-style: none; 
    display: flex;
    flex-direction: row; 
    padding-left: 16px;
}
.header__nav-item {
    display: flex;
}
.header__nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}
.header__nav-icon {
    width: 40px;
    height: 40px;
    fill: none;
}
.main__uslugi {
    position: relative;
    top: 0px;
    left: 16px;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;
}
.main__container {
    position: absolute;
    width: 320px;
    height: 509px;
    left: 0px;
    top: 88px;
    background: #F8F8F8;
}
.main__nav-wrapper {
    max-width: 320px;
    margin: 0 auto;
    position: relative; 
    overflow: hidden; 
}
.main__nav {
    max-width: 320px; 
    overflow-x: auto; 
    white-space: nowrap; 
    margin-left: auto;
    margin-top: 16px;
    position: relative;
}
.main__nav-wrapper::before,
.main__nav-wrapper::after {
    content: '';
    position: absolute;
    top: 70px;
    bottom: 0;
    width: 20px;
    pointer-events: none; 
    z-index: 1; 
    height: 43px;
}
.main__nav-wrapper::before {
    left: 0;
    background: linear-gradient(to right, rgba(248, 248, 248, 1), rgba(255, 255, 255, 0)); 
}
.main__nav-wrapper::after {
    right: 0;
    background: linear-gradient(to left, rgba(248, 248, 248, 1), rgba(255, 255, 255, 0)); 
}
.main__nav-list {
    list-style: none; 
    display: flex;
    flex-direction: row; 
    padding-left: 16px;
    padding-top: 40px;
}
.main__nav-item {
    display: inline-flex;
}
.main__nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    color: #7E7E82;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    border: 2px solid transparent; 
    border-radius: 6px; 
    transition: border 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.main__nav-link:hover {
    border: 2px solid #B8FFEC; 
    border-radius: 6px; 
    background-color: #FFFFFF;
}
.main__highlight {
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
}
.main__content, 
.content {
    position: absolute;
    width: 320px;
    height: 407px;
    top: 190px;
    left: 0px;  
}
.content__text {
    margin-bottom: 16px; 
    line-height: 1.5;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.2px;
    padding-right: 16px;
    padding-left: 16px;
    color: rgba(27, 28, 33, 1);
}
.content__text--visible-on-320 {
    display: block;
}
.content__text--visible-on-768 {
    display: none;
}
.content__text--visible-on-1120 {
    display: none;
}
.content__link {
    display: inline-flex;
    gap: 8px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
    position: absolute;
    left: 16px;
}
.content__link:hover {
    color: #6f6f6f; 
}
.content__link svg {
    vertical-align: middle;
}
.content__image {
    position: absolute;
    width: 320px;
    top: 165px;
    left: 0px;
}
.main__icon {
    display: none;
}

/* Media query for 768px */
@media (min-width: 768px) {
    .header__container {
        width: 768px;
        height: 88px;
    }
    .header__logo {
        left: 106.73px;
        top: 18.59px;
    }
    .header__burger {
        top: 24px;
        left: 24px;
    }
    .header__palka {
        top: 28px;
        left: 84px; 
    }
    .header__palka--clone {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
    }
    .header__palka--clone svg {
        display: flex; 
    }
    .header__nav {
        max-width: 768px;
        overflow-x: visible; 
        white-space: normal;
        margin-left: 0;
        display: flex;
        justify-content: flex-end;
        top: 24px;
        padding-right: 24px;
    }
    .header__nav-list {
        gap: 8px; 
    }
    .main__container {
        width: 768px;
        height: 504px; 
    }
    .main__nav-wrapper {
        max-width: 768px;   
        position: relative;
        overflow: hidden;
    }
    .main__nav {
        max-width: 768px;
        margin-top: 90px;
        font-size: 16px;
        line-height: 24px;
        left: 0px;
    }
    .main__nav-list {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 32px;
    }
    .main__uslugi {
        left: 24px;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 0.6px;
    }
    .main__highlight, 
    .highlight {
        left: 0px;
        top: 44px;
    }
    .main__content,
    .content {
        width: 768px; 
        height: 208px;
        top: 280px;
        left: 0px;
    }
    .content__text { 
        width: 350px; 
        font-size: 14px;
        line-height: 20px;
        padding-right: 24px;
        padding-left: 24px;
        letter-spacing: 0.2px; 
    }
    .content__text--visible-on-320 {
        display: block;
    }
    .content__text--visible-on-768 {
        display: block;
    }
    .content__text--visible-on-1120 {
        display: none;
    }
    .content__link {
        left: 24px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        left: 40px;
    }
    .content__image {
        position: absolute;
        width: 360px;
        height: 208px;
        left: 380px; 
        top: 16px;
        border-radius: 8px;
    }
    .main__nav-wrapper::before,
    .main__nav-wrapper::after {
        content: '';
        position: absolute;
        top: 142px; 
        height: 32px; 
        pointer-events: none;
        z-index: 1;
    }
    .main__nav-wrapper::before {
        left: 0;
        background: linear-gradient(to right, rgba(248, 248, 248, 1), rgba(255, 255, 255, 0));
    }
    .main__nav-wrapper::after {
        right: 0;
        background: linear-gradient(to left, rgba(248, 248, 248, 1), rgba(255, 255, 255, 0));
    }
    .main__icon {
    display: none;
    }
}

/* Media query for 1120px */
@media (min-width: 1120px) {
    .header__container {
        display: none;
    }
    .main__container {
        position: relative;
        width: 1120px;
        height: 504px;
        top: 0px; 
        left: 0px;
    }
    .main__icon {
        display: flex;
        justify-content: flex-end;
    }
    .main__icon-list {
        list-style: none; 
        display: flex;
        gap: 33px; 
        position: absolute; 
        margin: 0px;
        top: 42px;
        right: 33px;
    }
    .main__icon-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        outline: 1px solid red;
        
    }
    .main__icon-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: black;
        margin-right: 8px;
    }
    .main__highlight {
        position: absolute;
        width: 300px;
        height: 40px;
        top: 42px;
        left: 0px;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.6px;
    }
}
